html {
  scroll-behavior: smooth;
}
body {
  background-color: #18222b;
  color: white;
}
.headline {
  display: block;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  margin: 2rem auto;
  cursor: pointer;
  text-align: center;
  color: black;
  font-weight: bolder;
  background-color: aqua;
}
.buttton {
  margin-top: 3rem;
  text-align: center;
}
.buttton a {
  background-color: aqua;
  padding: 10px 30px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
}
.buttton a:hover {
  border: 2px solid aqua;
  background: none;
  color: aqua;
}
.color-code {
  text-align: center;
  margin-top: 7rem;
}
.color-code a {
  background: aqua;
  padding: 10px 250px;
  border-radius: 10px;
  color: #18222b;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.color-code a:hover {
  background: none;
  border: 2px solid aqua;
  border-radius: 10px;
  color: aqua;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.color-show {
  text-align: center;
  margin-top: 13rem;
}
#hex-code {
  border-radius: 10px;
  padding: 150px 80px;
  margin-right: 10px;
  box-shadow: 0px 0px 6px 1px aqua;
  color: black;
  font-weight: bold;
}
#rgb-code {
  border-radius: 10px;
  padding: 150px 80px;
  margin-right: 10px;
  box-shadow: 0px 0px 6px 1px aqua;
  color: black;
  font-weight: bold;
}
#rgba-code {
  border-radius: 10px;
  padding: 150px 80px;
  box-shadow: 0px 0px 6px 1px aqua;
  color: black;
  font-weight: bold;
}
